.DS_Store
target
**/target
sync-apk
app/.env
app/node_modules
aarch64/target
aarch64/docker-image
amd64/docker-image
amd64/target
alpine-3.16-aarch64/target
alpine-3.16-aarch64/docker-image
alpine-3.16-aarch64/src.tar.gz
alpine-3.16-amd64/docker-image
alpine-3.16-amd64/target
alpine-3.16-amd64/target
alpine-3.16-amd64/src.tar.gz
ubuntu-22.04-aarch64/target
ubuntu-22.04-aarch64/docker-image
ubuntu-22.04-amd64/docker-image
ubuntu-22.04-amd64/target
docker-image/usr/local/bin/sync-apk
docker-image/usr/local/bin/list-apk
upload
